<%= @game.opponent.name %> attacked <%= @game.turn.name %>
<br> <%= @game.player1.name %>'s HP: <%= @game.player1.hp %> <%= @game.player2.name %>'s HP: <%= @game.player2.hp %> 

<form action='/play' method='get'>
  <input type='submit' value="<%= @game.turn.name %>'s turn">
</form>